

body{background: url(media/CarlGuitar.jpg) no-repeat;
background-size: 100%;
padding: 0px 40px;

}

.btn-success{


}

.mailtext{
color:white;

}

h1{
	color: white;
	text-align: center;
	font-family: "Courier New";
}
h2{
	color: white;
	text-align: center;
	text-decoration: underline;
	font-family: "Courier New";

}
h3{
	color: white;
	text-indent: 50px;
	 text-align: justify;
	 font-size: 20px;
	 font-family: "Courier New";


}
h4{color: white;
	text-indent:50px;
	 text-align: justify;
	 font-size: 20px;
	 font-family: "Courier New";
	 font-style: italic;

}