/*.navbar {

	min-width: 100%
}*/

#egg {
	width:100%;
	height:200px;
	background-image: url('media/CarlGuitar.jpg');

}


#banner {

	height: 180px;
	width: 100%;
	background-image: url('media/moshheader.jpg');
	background-size: cover;
}

h1{
	color: white;
	text-align: center;
	font-family: "Courier New"
}
h2{
	color: white;
	text-align: center;
	text-decoration: underline;
	font-family: "Courier New"

}
h3{
	color: white;
	text-indent: 50px;
	 text-align: justify;
	 font-size: 20px;
	 font-family: "Courier New"


}
h4{color: white;
	text-indent:50px;
	 text-align: justify;
	 font-size: 20px;
	 font-family: "Courier New"

}